<form action="/submit" method="post" id="editor">
  <input type="hidden" name="submission[hackathon]" value="<%= params[:hackathon] %>" id="submission_hackathon" />
  <input type="hidden" name="submission[seconds]"   value="<%= Time.now %>"           id="submission_seconds" />

  
  <header>
      <button type="submit" id="submit">!light</button> <!-- Submit button -->

      <div class="wrapper">
        <input class="input" type="text" name="submission[name]" id="submission_name" value="<%= params[:name]%>"  placeholder="Enter Name Here"  >
        <span class="underline"></span>
      </div>

      <div id="sponsors">
          <img src="https://www.bjss.com/hubfs/bjss_logo_25_Blue%26Navy%20(RGB).svg" alt="Major League Hacking" title="Major League Hacking">
          <div class="custom-branding"></div>
      </div>
  </header>

  <textarea name="submission[html]" id="submission_html" spellcheck="false" placeholder="Enter your code here ..."></textarea>

  <div id="count">
    <div id="characters"><em>0</em> CHARS</div>
    <div id="lines"><em>0</em> LINES</div>
  </div>
</form>